<html>
	<head>
		<title>
			Add a Nibblite
		</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form class="form-horizontal" method="POST" action="/add">
		{% csrf_token %}
		<fieldset>
		<legend>Add a Nibblite</legend>

		<div class="form-group">
		  <label class="col-md-4 control-label" for="name">Name</label>  
		  <div class="col-md-4">
		  <input id="name" name="name" type="text" placeholder="Your Full Name" class="form-control input-md" required="">
		    
		  </div>
		</div>

		<div class="form-group">
		  <label class="col-md-4 control-label" for="club">Club</label>  
		  <div class="col-md-4">
		  <input id="club" name="club" type="text" placeholder="Prog./Tech/Design/Web" class="form-control input-md" required="">
		    
		  </div>
		</div>
		<div class="form-group">
		  <label class="col-md-4 control-label" for="submitBtn"></label>
		  <div class="col-md-4">
		    <button id="submitBtn" name="submitBtn" class="btn btn-primary">Submit</button>
		  </div>
		</div>


		</fieldset>
		</form>

	</body>
</html>	