<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mark Attendance</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
  <form class="form-horizontal">
<fieldset>
<legend><center>Mark Attendance of the Membsers present Today</center></legend>

<div class="form-group">
{% for i in members %}
  <div class="col-md-4">
  <div class="checkbox">
    <label for="checkboxes-0">
      <input type="checkbox" name="{ i.name }"  value="{ i.name }">
      { i.name }      
  </div>
  </div>
  {% endfor %}
</div>

</fieldset>
</form>

</body>
</html>